.header-color {
  background: #2193b0;  /* fallback for old browsers */
}

.myfooter {
  background-color: #2193b0;
}

.mdl-footer{
  position:absolute;
  left:0;
  bottom:0;
  right:0;
}

.header-color {
  font-family: Roboto;
  font-size: 60px;
}

.mdl-grid{
  justify-content: center;
  background: #ECE9E6;  /* fallback for old browsers */
}

.landing-grid h1 {
  justify-content: blue;
  text-align: center;
}

.avatar-img {
  height: 250px;
  padding-top: 5em;
  border-radius: 90%;
}

.banner-text {
  opacity: .8;
  width: 200%;
  height: 90%;
  margin: auto;
  border-radius: 5px;
  align-content: center;
  justify-content: center;
}

.banner-text h1 {
  font-size: 40px;
  align-content: center;
  font-weight: normal;
  color: #2c3e50;
  border-radius: 5px;
}

.banner-text p {
  color: white;
  font-size: 20px;
  padding: 1em;
  color: #2c3e50;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin: auto;
}

.social-links i {
  color: black;
  font-size: 5em;
}
